/* Created by: Ali Mugamai
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: green;
}

p {
  color: blueviolet;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 5pt;
}
